
/* area de comentarios */
#comments, #comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#comments h2 {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #440334;
    margin: 20px;
}

#name {
    border: none;
    background-color: #ececec;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    
}

#comment {
    border: none;
    background-color: #ececec;
    border-radius: 10px;
    height: 60px;
    width: 250px;
    margin: 10px
    
}

#button-comment {
    background-color: #440334;
    color: #ececec;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 250px;
    margin-bottom: 40p;
}



/* area de configuração das sessões*/

#artigos {
    margin-top: 20px;
    background-image: url(/img/fundo.png);
    height: 585px;
    width: auto;
}

/* configurações dos artigos*/

#area-anuncio {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 50px;
    text-align: center;
    font-weight: 1000;
    justify-content: center;
    align-items: center;
}

#noticias {
    color: rgb(204, 153, 13);
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 1000;
}

#restaurantes {
    color: rgb(204, 74, 13);
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 1000;
}

#eventos {
    color: rgb(204, 13, 124);
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 1000;
}

    #parcerias {
    color: rgb(112, 13, 204);
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 1000;
}


#img-noticias {
    height: 100px;

}

body main section div h2 {
    margin-top: 35px;
    margin-left: 10px;
}

#barra {
    margin-top: 20px;
}

body main section hr {
    background-color: #440334;
}

/*configurações do carrossel estatico*/

#carrossel {
    margin-top: 20px;

}
#img-carrossel {
    width: 100%;
}

#button-carrossel {
    color: #440334;
    display: flex;
    justify-content: center ;
}

  