<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Starlight</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/cadastro.css">
    
</head>
<body>
    <header>
        <!--Area superior / espaço redes sociais e user-->
        <div id="superior">
            <a href=""><img src="img/instagram.png" alt="instagram" id="iconh"></a>
            <a href=""><img src="img/twitter.png" alt="twitter" id="iconh"></a>
            <a href=""><img src="img/pinterest.png" alt="pinterest" id="iconh"></a>
            <a href="cadastro.html"><img src="img/user.png" alt="user-icon" id="iconu"></a>
        </div>
        <a href="/home"><img src="img/logo.png" alt="logo" id="logo"></a>
        <hr>
    </header>
    <main>
        <div class="area-login">   

            <div class="nome">
                <input type="text" id="escrita" value="Nome Completo" onfocus="this.value='';">
                <label for="E-mail"></label>
            </div>

            <div class="numero">
                <input type="text" id="escrita" value="Confirmar Senha" onfocus="this.value='';">
                <label for="Numero de Telefone"></label>
            </div>


            <div class="email">
                <input type="text" id="escrita" value="E-mail" onfocus="this.value='';">
                <label for="E-mail"></label>
            </div>

            <div class="senha">
                <input type="text" id="escrita" value="Senha" onfocus="this.value='';">
                <label for="Senha"></label>
            </div>

            <div class="confirmar-senha">
                <input type="text" id="escrita" value="ConfirmarSenha" onfocus="this.value='';">
                <label for="Confirmar senha"></label>
            </div>
            
            <div class="termos">
                <input type="checkbox" id="box">
                <h2 id="senha-termos"> Concordo com os <a href="">termos de serviço</a>. </h2>
            </div>
        
            
            <a href="views/pages/home"><input type="submit" value="Cadastrar" id="entrar"></a>

            <button id="button-social">
                <img src="img/google.png" alt="" id="icon">
                <h3>Google</h3>
            </button>

            <button id="button-social-facebook">
                <img src="img/facebook.png" alt="" id="icon">
                <h3>Facebook</h3>
            </button>
    
        </div>
    </main>
    <footer>
        <div id="footer-sociais">
            <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconf"></a>
            <a href="" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconf"></a>
            <a href="" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconf"></a>
          </div>
          <div id="links">
            <a href="#"><h2>Lar</h2></a>
            <a href="#"><h2>Anuncia</h2></a>
            <a href="#"><h2>Sobre nós</h2></a>
            <a href="#"><h2>Fale conosco</h2></a>
          </div>
          
          <img src="img/logo.png" alt=""  id="logo">
          
    </footer>
</body>
</html>