<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Starlight</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index-adm.css">
    
    
</head>
<body>
    <header>
        <!--Area superior / espaço redes sociais e user-->
        <div id="superior">
          <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconh"></a>
          <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconh"></a>
          <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconh"></a>
          <a href="/home"><img src="img/user.png" alt="user-icon" id="iconu"></a>
        </div>
        <a href="/home"><img src="img/logo.png" alt="logo" id="logo"></a>
        <!--Area menu / navegação do site-->
        <nav>
          <a href="/comoajudar"><button id="button-nav">Como ajudar</button></a>
          <a href="/loja"><button id="button-nav">Loja</button></a>
          <a href="/sobre"><button id="button-nav">Sobre nós</button></a>
        </nav>
    </header>
    
    <main>
      <div id="adicione">
        <H2>Adicione suas noticias, restaurantes, eventos ou produtos</H2>
      </div>

          <section id="artigos">
            <div id="barra"><hr></div>

            <a href="/noticias"><div id="noticias">
                <img src="img/noticia.jpeg" alt="" id="img-noticias">
                <h2>Noticías</h2>
                
            </div>
            </a>

            <a href="/restaurante"><div id="restaurantes">
                <img src="img/restaurante.jpeg" alt="" id="img-noticias">
                <h2>Restaurantes</h2>
                
            </div>
            </a>

            <a href="">
              <div id="area-anuncio">
                <h3>Anuncie aqui!</h3>
              </div>
            </a>

            <a href="/eventos"><div id="eventos">
                <img src="img/eventos.jpeg" alt="" id="img-noticias">
                <h2>Eventos</h2>
                
            </div>
            </a>

            

            <!--<a href=""><div id="parcerias">
                <img src="/app/public/img/parcerias.jpeg" alt="" id="img-noticias">
                <h2>Parcerias</h2>
                
            </div>
            </a>-->
        
          </section>

          
    </main>
    <footer>
      <div id="footer-sociais">
        <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconf"></a>
        <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconf"></a>
        <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconf"></a>
      </div>
      <div id="links">
        <a href="home"><h2>Home</h2></a>
        <a href="anunciar"><h2>Anunciar</h2></a>
        <a href="sobre nós"><h2>Sobre nós</h2></a>
        <a href="fale conosco"><h2>Fale conosco</h2></a>
      </div>
      
      <img src="img/logo.png" alt=""  id="logo">
      
    </footer>

    
</body>
</html>
