<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Starlight</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/loja.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    
</head>
<body>
    <header>
        <!--Area superior / espaço redes sociais e user-->
        <div id="superior">
          <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconh"></a>
          <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconh"></a>
          <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconh"></a>
          <a href="/login"><img src="img/user.png" alt="user-icon" id="iconu"></a>
        </div>
        <a href="/home"><img src="img/logo.png" alt="logo" id="logo"></a>

        <nav>
            <a href="/comoajudar"><button id="button-nav">Como ajudar</button></a>
            <a href="/loja"><button id="button-nav">Loja</button></a>
            <a href="/sobre"><button id="button-nav">Sobre nós</button></a>
        </nav>

    </header>
    
    <main>
        <section class="shop container">
            <h2 class="section-title">Produtos patrocinados</h2>
            <!--Shop container-->
            <div class="shop-content">
                <!--Box 1-->
                <div class="product-box">
                    
                    <img src="img/7.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart' ></i>
                </div>
                <!--Box 2-->
                <div class="product-box">
                    <img src="img/2.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart'></i>
                </div>
                <!--Box 3-->
                <div class="product-box">
                    <img src="img/3.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart'  ></i>
                </div>
                <!--Box 4-->
                <div class="product-box">
                    <img src="img/4.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart'></i>
                </div>
                <!--Box 5-->
                <div class="product-box">
                    <img src="img/5.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart' ></i>
                </div>
                <!--Box 6-->
                <div class="product-box">
                    <img src="img/6.png" alt="" class="product-img">
                    <h2 class="product-title">Garrafa Starlight</h2>
                    <span class="price">R$30</span>
                    <i class='bx bx-heart add-cart'  ></i>
                </div>
            </div>
        </section>
    </main>
    <footer>
      <div id="footer-sociais">
        <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconf"></a>
        <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconf"></a>
        <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconf"></a>
      </div>
      <div id="links">
        <a href="/home"><h2>Home</h2></a>
        <a href="/anunciar"><h2>Anunciar</h2></a>
        <a href="/sobre nós"><h2>Sobre nós</h2></a>
        <a href="/fale conosco"><h2>Fale conosco</h2></a>
      </div>
      
      <img src="img/logo.png" alt=""  id="logo">
      
    </footer>

    <script src="js/script.js"></script>
</body>
</html>
