<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home - Starlight</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/index.css">
        
        
    </head>
<body>
    <header>
        <!--Area superior / espaço redes sociais e user-->
        <div id="superior">
          <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconh"></a>
          <a href="" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconh"></a>
          <a href="" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconh"></a>
          <a href="views/pages/login"><img src="img/user.png" alt="user-icon" id="iconu"></a>
        </div>
        <a href="views/pages/home"><img src="img/logo.png" alt="logo" id="logo"></a>
        <!--Area menu / navegação do site-->
        <nav>
            <button id="button-nav">Como ajudar</button>
            <button id="button-nav">Loja</button>
            <button id="button-nav">Sobre nós</button>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <div id="footer-sociais">
          <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconf"></a>
          <a href="" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconf"></a>
          <a href="" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconf"></a>
        </div>
        <div id="links">
          <a href=""><h2>Lar</h2></a>
          <a href=""><h2>Anunciar</h2></a>
          <a href=""><h2>Sobre nós</h2></a>
          <a href=""><h2>Fale conosco</h2></a>
        </div>
        
        <img src="img/logo.png" alt=""  id="logo">
        
      </footer>
</body>
</html>