<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes - Starlight</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/noticias.css">
</head>
<body>
    <header>
        <div id="superior">
            <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconh"></a>
            <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconh"></a>
            <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconh"></a>
            <a href="/login.html"><img src="img/user.png" alt="user-icon" id="iconu"></a>
        </div>
        <a href="/home"><img src="img/logo.png" alt="logo" id="logo"></a>
        <!--Area menu / navegação do site-->
        <nav>
            <a href="/comoajudar"><button id="button-nav">Como ajudar</button></a>
            <a href="/loja"><button id="button-nav">Loja</button></a>
            <a href="/sobre"><button id="button-nav">Sobre nós</button></a>
        </nav>
        
    </header>
     <!--Area superior / espaço redes sociais e user-->
     
    <main>
        <section>
            <div id="area-noticia">
                <div class="area-noticia-img">
                    <img src="img/restaurante1.jpg" alt="">
                </div>
                <div class="area-noticia-txt">
                    <h3>Caneca de Prata</h3>
                    <p>Bar aclamado do centro histórico com chopes, coquitéis e proções, em clima
                         descontraido com publico variado</p>
                </div>
            </div>

            <div id="area-noticia">
                <div class="area-noticia-img">
                    <img src="img/restaurante2.jpg" alt="">
                </div>
                <div class="area-noticia-txt">
                    <h3>Eagle São Paulo</h3>
                    <p>Balada masculina em hambiente temático de automóveis e do rock com coquitéis finos, mixagem e pista eletro</p>
                </div>
            </div>
        </section>

        <a href="">
            <div id="area-anuncio">
              <h3>Anuncie aqui!</h3>
            </div>
        </a>

        <section>
            <div id="area-noticia">
                <div class="area-noticia-img">
                    <img src="img/restaurante3.webp" alt="">
                </div>
                <div class="area-noticia-txt">
                    <h3>Bar to Zé - Bar da Lôca</h3>
                    <p>"O Bar To-Zé conhecido como Bar da Lôca" é um point 
                        da região da Bela Vista de São Paulo com hambiente para todos os publicos...</p>
                </div>  
            </div>

            <div id="area-noticia">
                <div class="area-noticia-img">
                    <img src="img/restaurante4.jpg" alt="">
                </div>
                <div class="area-noticia-txt">
                    <h3>Bar do Netão</h3>
                    <p>Cervejas e Guitarrista criativos, alem de DJs e
                         música ao vivo em espaço criativo com atmosfera alternativa</p>
                </div>
            </div>

            <div id="area-noticia">
                <div class="area-noticia-img">
                    <img src="img/restaurante5.webp" alt="">
                </div>
                <div class="area-noticia-txt">
                    <h3>Igrejinha Bar</h3>
                    <p>Local descontraido com atmosfera acolhedora que toca idie rock
                         e serve aperitivos e musicos classicos"</p>
                </div>
            </div>

            <input type="button" value="Ver Mais" id="ver-mais">
        </section>


    </main>


    <footer>
        <div id="footer-sociais">
            <a href="https://www.instagram.com/starlight_lgbt/" target="_blank"><img src="img/instagram.png" alt="instagram" id="iconf"></a>
            <a href="https://www.twitter.com/starlight_lgbt/" target="_blank"><img src="img/twitter.png" alt="twitter" id="iconf"></a>
            <a href="https://www.pinterest.com/starlightsitelgbt/" target="_blank"><img src="img/pinterest.png" alt="pinterest" id="iconf"></a>
        </div>
        <div id="links">
            <a href="/home"><h2>Home</h2></a>
            <a href="/anunciar"><h2>Anunciar</h2></a>
            <a href="/sobre nós"><h2>Sobre nós</h2></a>
            <a href="/fale conosco"><h2>Fale conosco</h2></a>
        </div>
        
        <img src="img/logo.png" alt=""  id="logo">
        
    </footer>

</body>
